# Build outputs
/build*/
/out/
/artifacts/
**/Builds/
**/bin/
**/obj/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# CMake
**/build*/
CMakeUserPresets.json

# Local/editor files
.vscode/
*.log

